@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Consolas';
}

.custom-scrollbar::-webkit-scrollbar {
	width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #9ca3af; /* Neutral gray for better aesthetics */
	border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: gray; /* Slightly darker on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: black; /* Very light background */
}

.react-resizable-handle {
  width: 40px;
  height: 100%;
  margin-right: 8px;
  position: relative;
  right: 0;
  top: 0;
  cursor: none;
}
